@model IEnumerable<MainAuth.Models.Booking>


@{
    ViewData["Title"] = "Index";
}

<h1>Bookings</h1>

<p>
    <a asp-action="Create">Create New</a>

</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BookingId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfbooking)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DoctorId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PatientId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BookingId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfbooking)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DoctorId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PatientId)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.BookingId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.BookingId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.BookingId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<br />
<br />
<a asp-controller="DocPat" asp-action="Index">Doctor List</a>
<br />
<br />
<a asp-controller="DocPat" asp-action="Patient">Patients List</a>
